import React, { PropsWithChildren } from "react";
// import {} from "@mui/material",
// import {} from "./{{name}}.styled";

export interface {{name}}Props {}

const {{name}}:React.FC<PropsWithChildren<{{name}}Props>> = () => {
    return (
        <div>{{name}}</div>
    )
};

export default {{name}};